body { margin: 0; padding: 0; overflow: hidden; background: #111111; font-family: 'Inter', sans-serif; }

#bgCanvas { 
    position: fixed; top: 0; left: 0; 
    z-index: 0; /* Al fondo absoluto */
}

#game-container { 
    position: fixed; top: 0; left: 0; 
    z-index: 1; /* Encima del fondo */
    width: 100vw; height: 100vh;
}

#glow { 
    position: absolute; width: 300px; height: 300px; 
    background: radial-gradient(circle, rgba(241,196,15,0.45) 0%, transparent 70%); 
    pointer-events: none; z-index: 2; transform: translate(-50%, -50%); 
    mix-blend-mode: screen; 
}

#ui-container { 
    position: absolute; top: 20px; left: 20px; 
    z-index: 10; pointer-events: none; 
}

.glass-panel { 
    pointer-events: auto; background: rgba(15, 15, 15, 0.9); 
    backdrop-filter: blur(10px); padding: 20px; border-radius: 15px; 
    color: #fff; width: 200px; border: 1px solid rgba(255,255,255,0.1);
}

input, select, button { width: 100%; margin-bottom: 10px; cursor: pointer; }
button { background: #f1c40f; border: none; padding: 10px; font-weight: bold; border-radius: 5px; }
.stats { color: #f1c40f; font-family: monospace; border-top: 1px solid #333; padding-top: 5px; }
